In [30]:
#importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
#importing data from txt file, converting it into csv, converting sets
#of data into dataframe and adding header to each columns
data = pd.read_csv('./simple_data.txt')#delim_whitespace=False
data.to_csv('simple_data.csv')
df = pd.DataFrame(data)
df.columns = ['population_in_1k', 'profit_in_1k']

In [47]:
#visualizing dataframe
df

    population_in_1k  profit_in_1k
0             5.5277       9.13020
1             8.5186      13.66200
2             7.0032      11.85400
3             5.8598       6.82330
4             8.3829      11.88600
..               ...           ...
91            5.8707       7.20290
92            5.3054       1.98690
93            8.2934       0.14454
94           13.3940       9.05510
95            5.4369       0.61705

[96 rows x 2 columns]